html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration-line: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-block: 0;
}

.container {
  width: 1240px;
  margin-inline: auto;
  padding-inline: 20px;
}

.site-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iten-box{
  width: 119px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-desc{
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1F2026;
}

.site-u{
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1F2026;
}

.site-p{
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #8B8E99;
}

.site-p-2{
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #1F2026;
}

.site-desc-2{
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #595B66;
}

.site-header{
  
  margin: 0;
}

.main-box{
  display: flex;
  align-items: center;
  column-gap: 11px;
  background-color: #F0F0FF;
  padding: 8px 18px 8px 17px;
  border-radius: 4px;
}

.main-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-box-2{
  display: flex;
  align-items: center;
}

input{
  padding: 10px 226px 10px 16px;
}

.main-link{
  background-color: #36364033;
  padding: 12px 31px 12px 31px;
  border-radius: 4px;
}

.link-desc{
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.08px;
  text-align: center;
  vertical-align: middle;
  color: #7000FF;
}

.item-link{
  display: flex;
  align-items: center;
  column-gap: 9px;
}

.item-desc{
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #1F2026;
}

.main-div{
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.main-p{
  font-weight: 600;
  font-size: 12.8px;
  line-height: 15.36px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1F2026;
}



.main-list-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-img{
  border-radius: 12px;
}

.h2-arzon{
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1F2026;
}


.main-li{
  margin-block: 31px;
  border-radius: 24px;
  width: 232px;
 
}


.texts-box{
  padding: 10px 10px 10px 10px;
  width: 232px;
}

.li-desc{
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15.36px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1F2026;
  margin-bottom: 0;
  
}


.p-box{
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.p-li{
  font-weight: 300;
  font-style: Light;
  font-size: 11.2px;
  line-height: 11.2px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #8B8E99;
}

.mark-texts{
  width: 216px;
}

mark{
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 5px;
  border-radius: 4px;
  color: #1F1F26;
}

.texts-box-2{
  margin-top: 17px;
  width: 215px;
}

.s-texts{
  font-weight: 400;
  font-size: 11.2px;
  line-height: 13.44px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: line-through;
  color: #8B8E99;
}

.strong-texts{
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1F2026;
}

.main-ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 21px;
  position: relative;
}




.ul-img{
  position: absolute;
  right: 70px;
  top: 3900px;
  transition: 0.3s linear;
}

.ul-img:hover{
  transform: scale(1.2);
}

.main-2-ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 21px;
}

.h2-box{
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.ul-h2{
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1F2026;
}

.purchse-link{
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #1F2026;
  background-color: #F2F4F7;
  padding: 18px 298px 18px 298px;
  border-radius: 8px;
  display: inline-block;
  margin-left: 375px;
  margin-top: 58px;
  margin-bottom: 50px;
  transition: 0.3s linear; 
}

.purchse-link:hover{
  background-color: #4ade80;
}

.footer-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.footer-item{
  width: 310px;
}

.footer-link{
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0%;
  margin-top: 19px;
  display: block;
  color: #1F2026;
}

.footer-link-2{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #8B8E99;
  display: block;
  margin-top: 19px;
}

.footer-box{
  margin-top: 20px;
  display: flex;
  column-gap: 24px;
  align-items: center;
  
}

.footer-link-box{
  display: flex;
  align-items: center;
}

.footer-img-link{
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-top: 22px;
}

.footer-link-img{
  display: flex;
  align-items: center;
  font-weight: 500;
  font-style: Medium;
  font-size: 12.8px;
  line-height: 15.36px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1F2026;
}

.App-link{
  font-weight: 500;
  font-style: Medium;
  font-size: 12.8px;
  line-height: 15.36px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1F2026;
}

.footer-div{
  margin-top: 16px;
  margin-bottom: 16px;
}

.footer-texts{
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.footer-title{
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1F1F26;
}

.footer-desc{
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #8B8E99;
}

.footer-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-s-box{
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 216px;
}

.btn-box{
  margin-top: 22px;
}


.input-box{
  margin-inline: auto;
  width: max-content;
  margin-top: 190px;
  box-shadow: 10px 10px 13px -10px #000;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 30px 30px;
  transition: 0.3s linear;
}

.input-box:hover{
  transform: scale(1.1);
}


.input-1:valid {
  border-color: rgb(10, 243, 10);
  border-radius: 7px;
  margin-top: 19px;
  padding: 10px 100px 10px 16px;
  
}

.input-1:invalid {
  border-color: red;
  border-radius: 7px;
  margin-top: 19px;
  padding: 10px 100px 10px 16px;
}


.input-2:valid {
  border-color: rgb(10, 243, 10);
  border-radius: 7px;
  margin-top: 19px;
  padding: 10px 100px 10px 16px;
  
}

.input-2:invalid {
  border-color: red;
  border-radius: 7px;
  margin-top: 19px;
  padding: 10px 100px 10px 16px;
}


.input-3:valid{
  border-color: rgb(10, 243, 10);
  border-radius: 7px;
  margin-top: 19px;
  padding: 10px 100px 10px 16px;
  
} 

.input-3:invalid{
  border-color: red;
  border-radius: 7px;
  margin-top: 19px;
  padding: 10px 100px 10px 16px;
}

.input-link{
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
  vertical-align: middle;
  color: #1F1F26;
  padding: 10px 87px 10px 87px;
  background-color: #F2F4F7;
  margin-top: 20px;
  display: inline-block;
  margin-left: 19px;
  border-radius: 8px;
  text-align: center;
}

.hero-title{
  font-weight: 700;
  font-style: Medium;
  font-size: 35px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000;
  text-align: center;
}

.hero-desc{
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #8B8E99;
  text-align: center;
}

.hero-title-desc{
  margin-inline: auto;
  padding: 15px 15px 15px 15px;
  box-shadow: 10px 10px 13px -10px #fff;
  width: 500px;
  margin-top: 285px;
  border-radius: 8px;
  background-color: #fff;
}

.hero-link{
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
  color: #1F1F26;
  padding: 10px 87px 10px 87px;
  background-color: #F2F4F7;
  margin-top: 20px;
  display: inline-block;
  border-radius: 8px; 
  margin-left: 97px;
}

.chapter-link{
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #8B8E99;
  display: inline-block;
}

.footer-img{
  transition: 0.3s linear;
}

.footer-img:hover{
  transform: scale(1.2);
}

.hero-ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 190px;
}

.li-img{
  width: 232px;
  border-radius: 10px;
}